.bs-docs-header > .container > img {
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 10px;
}

.img-responsive {
	width: 600px;
}

ul {
	padding-inline-start: 2rem;
}

.mwe-math-fallback-image-inline {
	background-color: #c3c3c3;
	padding: 1rem;
	border-radius: 1rem;
}