---
layout: default
title: Home
---

<!-- <ul>
  <li>Available by request, and custom-made to order.</li>
  <li>Controlled over Wi-Fi with an app or webpage, or a wireless infrared remote control.</li>
  <li>Included with dozens of animations.</li>
  <li>Programmable over Wi-Fi or micro USB cable.</li>
  <li>Fully open-source (firmware and animations).</li>
</ul> -->

<div class="row">
  <div class="col-md-10" role="main">

    <!-- <p class="lead">
      We'd love to build something for you, please <a href="/contact">contact us</a> to get an estimate and get started.

    </p>
    <p>
      All of our works can be controlled with an app or webpage over Wi-Fi, or with a wireless infrared remote control.
      They include dozens of animations, and we specialize in creating custom animations to perfectly suit your need.
      Our example creations are open source and hackable.
    </p> -->

    <p>See our shop on <a href="https://www.tindie.com/stores/jasoncoon/">Tindie</a></p>

    <div class="page-header" id="portfolio"><h1>Portfolio</h1></div>

    {% for post in site.posts %}
    {% if post.vineUrl != null %}
    <div class="col-md-6">
      <div class="thumbnail" id="{{ post.id }}">
        <div class="embed-responsive embed-responsive-4by3">
          <iframe src="{{ post.vineUrl }}" width="300" height="300" frameborder="0"></iframe><script src="https://platform.vine.co/static/scripts/embed.js"></script>
        </div>
        <div class="caption">
          <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        </div>
      </div>
    </div>
    {% elsif post.imgurId != null %}
    <div class="col-md-6">
      <div class="thumbnail" id="{{ post.id }}">
        <div class="embed-responsive embed-responsive-4by3">
          <a href="{{ post.url }}">
            <video class="post" poster="//i.imgur.com/{{ post.imgurId }}.jpg" preload="auto" autoplay="autoplay" muted="muted" loop="loop">
              <source src="//i.imgur.com/{{ post.imgurId }}.mp4" type="video/mp4">
            </video>
          </a>
        </div>
        <div class="caption">
          <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        </div>
      </div>
    </div>
    {% elsif post.videoUrl != null %}
    <div class="col-md-6">
      <div class="thumbnail" id="{{ post.id }}">
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" width="560" height="315" src="{{ post.videoUrl }}" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="caption">
          <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}

  </div>

  <div class="col-md-2" role="complementary">
    <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top">
      <ul class="nav bs-docs-sidenav">
        <li class="active">
          <a href="#top">Portfolio</a>
          <ul class="nav">
            {% for post in site.posts %}
            {% if post.vineUrl != null or post.imgurId != null or post.videoUrl != null %}
            <li class><a href="#{{ post.id }}">{{ post.title }}</a></li>
            {% endif %}
            {% endfor %}
          </ul>
        </li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
  </div>

</div>
