---
layout: default
---

<div class="page-header">
  <h1>{{ page.title }}</h1>
  <small>
    <a href="http://evlgeni.us{{page.redirect_from[0]}}"><i class="fa fa-link" aria-hidden="true"></i></a>
    Posted {{ page.date | date: "%B %e, %Y" }}
  </small>
</div>

{% if page.videoUrl != null %}
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" width="560" height="315" src="{{ page.videoUrl }}" frameborder="0" allowfullscreen></iframe>
</div>

<br />
<br />
{% endif %}

{% if page.imgurId != null %}
<div class="embed-responsive embed-responsive-16by9">
  <video class="post lazy" data-poster="/assets/{{ page.imgurId }}" autoplay="autoplay" muted="muted" loop="loop">
    <source data-src="/assets/{{ page.imgurId }}" type="video/mp4">
  </video>
</div>
<br />
<br />
{% endif %}

{% if page.sourceUrl != null %}
<p>
  <a href="{{ page.sourceUrl }}">More information and source code</a>
</p>
<br />
<br />
{% endif %}

{{ content }}
